run = "cd sfm-chat-backend && npm run install-deps && npm start"
entrypoint = "sfm-chat-backend/index.js"
modules = ["nodejs-20", "nix"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["npm", "start"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80
